<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link active" routerLink="games">Jeux de sociétés</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li  routerLinkActive="active" *ngIf="!getIsAuth()">
        <a routerLink="auth/signup">Créer un compte</a>
      </li>
      <li routerLinkActive="active" *ngIf="!getIsAuth()">
        <a routerLink="auth/signin">Je rentre dans le darkSide</a>
      </li>
      <li>
        <button type="button" (clic)="onSignOut()"
        *ngIf="getIsAuth()"
        routerLink="auth/signin">Je retourne du côté lumineux</button>
      </li>
    </ul>
  </div>
</nav>