<button id="boutonFilter" class="btn btn-info rounded float-left" (click)="onFilterWindow()">
  Filtre de recherche
</button>

<div id="filter" [ngClass]="filterOn?'collapse show' : 'collapse'">
  <div class="card-body" style="margin: auto;">
    <form [formGroup]="gameForm" (ngSubmit)="onSearchGame()" id="flexContainer">
      <div id="flexBody">
        <div class="form-group" id="champFilter">
          <label for="title">Titre</label>
          <input type="text" id="title" class="form-control" formControlName="title">
        </div>
        <div class="form-group" id="champFilter">
          <label for="nbJoueurs">Nombre de Joueur</label>
          <input type="text" id="nbJoueurs" class="form-control" formControlName="nbJoueurs">
        </div>
        <div class="form-group" id="champFilter">
          <label for="tpsJeuxMin">Temps de jeux Minimum</label>
          <input type="text" id="tpsJeuxMin" class="form-control" formControlName="tpsJeuxMin">
        </div>
        <div class="form-group" id="champFilter">
          <label for="tpsJeuxMax">Temps de jeux Maximum</label>
          <input type="text" id="tpsJeuxMax" class="form-control" formControlName="tpsJeuxMax">
        </div>
        <div class="form-group" id="champFilter">
          <label for="title">Titre Extention</label>
          <input type="text" id="titleExtention" class="form-control" formControlName="titleExtention">
        </div>
        <div class="form-group">
          <label for="categories2">Catégories</label>
          <div class="categories">
            <button *ngFor="let cat of categories" [ngClass]="(isCatSelected(cat))?'btn btn-success':'btn btn-dark'" style="margin-left: 1%;margin-top: 1%;width: 122px;"
              type="button" id="categories2" (click)="selectCategorie(cat)">{{ cat }}</button>
          </div>
      </div>


      </div>


      <div class="rounded float-left boutons">
        <button class="btn btn-success" type="submit" id="btn">Filter
        </button>
        <button class="btn btn-warning" id="btn" type="button" (click)="onReinitSearch()">Réinitialiser la recherche
        </button>
      </div>
    </form>
  </div>
</div>