
    .device{
        display: none;
           }
       
           .computer{
       display: inline-block;
           }

#filter{
    margin-top: 3%;
    margin: auto;
   
}

#flexContainer{
    width: 100%;
    display: flex; 
    flex-direction: column; 
    flex-wrap: nowrap;
    margin: auto;
}

#flexBody{
     width: 80%;
    display: flex; 
    flex-direction: unset; 
    flex-wrap: wrap;
    margin: auto;
    
}

#boutonFilter{
    margin-top: 1%;
}

#champFilter{
    width: 20%;
    min-width: 175.3px;
    margin-right: 2%;
}



.boutons{

    width: 100%;

    float: right;
   
}

.categories{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    max-width: 80%;
    align-self: flex-start;
    margin: auto;
   
}

#btn{
    max-height: 38px;
    margin-top: 5%;
    margin-left: 5%;
    float: right;
}

input{
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}

.allScreen{
    width: 100%;
}

::placeholder{
    color: rgba(0, 0, 0, 0.6)
}

//###################################################################################################################
  //Gestion des écrans mobiles
  $break-small: 411px;
  $break-small-height: 411px;
  @media screen and (max-width: $break-small) , screen and (max-height: $break-small-height) {

    .device{
        display: inline-block;
           }
       
           .computer{
       display: none;
           }
    
           #champFilter{
            width: 100%;
            min-width: 175.3px;
           
        }

     select{
         width: 100%;
         background-color: rgba(255, 255, 255, 0.3);
     }

     .option-selected{
        text-align: center;
        color: black;
        background-color: tomato;
    }

    .option{
        text-align: center;
        color: black;
    }

    #flexBody{
        width: 100%;
       display: flex; 
       flex-direction: unset; 
       flex-wrap: wrap;
       margin: auto;   
   }

   #btn{
    max-height: 38px;
    margin-left: 5%;
    
}

::placeholder{
    text-align: center;
}

#boutonFilter{
    margin-bottom: 15px;
}



  }