// fichier scss

#container{
    margin-left: 5%; 
    margin-right: 5%;
}

.JAKU{background-image: url(https://firebasestorage.googleapis.com/v0/b/revol-theque.appspot.com/o/fond%2FJaku_destroyer_min.jpg?alt=media&token=f6747c29-e40d-4d70-ba5e-5ef6596e5c89);
    background-position: 50% 50%;background-attachment:fixed;background-repeat: no-repeat;color:yellow;text-shadow: black 0.2em 0.2em 0.3em;}
    
    .ROGUEONE{background-image: url(https://firebasestorage.googleapis.com/v0/b/revol-theque.appspot.com/o/fond%2FStar%20Wars%20Rogue%20One-min.jpg?alt=media&token=392c5715-4a44-43a6-a022-5dafc81d93c4);
    background-position: 50% 50%;background-attachment:fixed;background-repeat: no-repeat;color:yellow;text-shadow: black 0.2em 0.2em 0.3em;}
    
    .RESISTANCE{background-image: url(https://firebasestorage.googleapis.com/v0/b/revol-theque.appspot.com/o/fond%2Fresistance%20takodana_min.jpg?alt=media&token=51060f0b-ec46-4e28-9657-09f77dc2efa2);
    background-position: 50% 50%;background-attachment:fixed;background-repeat: no-repeat;color:yellow;text-shadow: black 0.2em 0.2em 0.3em;}
    .NABOO{background-image: url(https://firebasestorage.googleapis.com/v0/b/revol-theque.appspot.com/o/fond%2Fnaboo_min.jpg?alt=media&token=7797d4f5-f120-4de2-afc7-bfab790a16c9);
    background-position: 50% 50%;background-attachment:fixed;background-repeat: no-repeat; color:yellow;text-shadow: black 0.2em 0.2em 0.3em;}
    
    .PASSERELLE{background-image: url(https://firebasestorage.googleapis.com/v0/b/revol-theque.appspot.com/o/fond%2Fpasserelle.jpg?alt=media&token=43dd7c6b-2999-4485-8bae-1dfdcbaa36d7);
    background-position: 50% 50%;background-attachment:fixed; background-repeat: no-repeat;color:yellow;text-shadow: black 0.2em 0.2em 0.3em;}
    
    .GUERRE_DESERT{background-image: url(https://firebasestorage.googleapis.com/v0/b/revol-theque.appspot.com/o/fond%2Fgerre%20desert.jpg?alt=media&token=7bc86e96-b359-4931-9cd5-1bd489ddac2c);
    background-position: 50% 50%;background-attachment:fixed;background-repeat: no-repeat;color:yellow;text-shadow: black 0.2em 0.2em 0.3em;}
    
    .ATAT{background-image: url(https://firebasestorage.googleapis.com/v0/b/revol-theque.appspot.com/o/fond%2FATAT.jpg?alt=media&token=84017f00-2f6e-4bcb-b231-85a7e51c34fa);
    background-position: 50% 50%;background-attachment:fixed;background-repeat: no-repeat;color:yellow;text-shadow: black 0.2em 0.2em 0.3em;}