// fichier scss

#flex-container-categories{
    width: 100%;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap
}

#BB8{
    width: 20%;
}

@-webkit-keyframes masuperanimation { /* Safari, Opera, Chrome */
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-300px);
    }

}

@keyframes masuperanimation { /* Tous les autres navigateurs */
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-300px);
    }
}


#retour:hover
{
    -webkit-animation: masuperanimation 1s; /* Safari, Opera, Chrome */
    animation: masuperanimation 1s; /* Tous les autres navigateurs */
}

input{
    background-color: rgba(255, 255, 255, 0.3);
}
