
  
    <div class="flex-container" >
      <div class="card text-white bg-primary center" style="max-width: 18rem;" routerLinkActive="active" routerLink="/games" >
        <h5 class="card-header">Jeux de société</h5>
        <div class="card-body h230">
          <img class="card-img" src="https://firebasestorage.googleapis.com/v0/b/revol-theque.appspot.com/o/icones%2Fjumanji.gif?alt=media&token=445ef29f-3d87-41d5-8944-9dbd392e24ca"
          title="Jeux de société">
        </div>
      </div>
      <div class="card text-white bg-success center" style="max-width: 18rem;" routerLinkActive="active" routerLink="/movies">
        <h5 class="card-header">DVDs/BLU-RAYs</h5>
        <div class="card-body h230">
            <img class="card-img center" src="https://firebasestorage.googleapis.com/v0/b/revol-theque.appspot.com/o/icones%2Fmovies.gif?alt=media&token=c3c93e7f-6182-443e-9d27-de55fba304c0"
            title="DVDs/BLU-RAYs">
            </div>
      </div>
      <div class="card text-white bg-info center" style="max-width: 18rem;" routerLinkActive="active" routerLink="/books">
        <h5 class="card-header">Livres</h5>
        <div class="card-body h230">
         <img class="card-img center2" src="https://firebasestorage.googleapis.com/v0/b/revol-theque.appspot.com/o/icones%2Fbooks.gif?alt=media&token=46478d34-9976-4134-949e-2818ac3b342d"
         title="Livres">
        </div>
      </div>

    </div>

