.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
margin: auto;
margin-top: 20%;
margin-bottom: auto;
}

.center{
    margin: auto;
    margin-top: 2%;
}

.center2{

    margin: auto;
    margin-top: 6%;
}

.h230{
    height: 230px;
}
